<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>Iniciar con</small>
                            </div>
                            <div class="btn-wrapper text-center">
                                <a class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="./assets/img/icons/common/github.svg">
                                    </span>
                                    <span class="btn-inner--text">Github</span>
                                </a>
                                <a routerLink="#" (click)="login3();" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="./assets/img/icons/common/google.svg">
                                    </span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>O</small>
                            </div>
                            <form role="form">
                                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" type="email" #email requiered
                                            (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Password" type="password" #password
                                            requiered (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span>Recuerdame</span>
                                    </label>
                                </div>
                                <div class="text-center" ng-required="true"
                                    ng-pattern=" ^[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$">
                                    <div *ngIf="email.errors || email.touched">
                                        <small class="text-danger" *ngIf="email.errors.required">Primary email is
                                            required</small>

                                    </div>
                                    <button class="btn btn-primary my-4"
                                        (click)="onSubmit(); SignIn(email.value, password.value)"
                                        ng-disabled="form.$invalid || !email">Iniciar
                                        Sesion</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a routerLink="/password" class="text-light">
                                <small>Olvidaste contrasenia?</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <a routerLink="/register" class="text-light">
                                <small>Crear cuenta</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>