<main>


    <section class="section section-lg section-shaped pb-10 bg-gradient-warning ">
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2550 40" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 2 2560 10 0 10"></polygon>
            </svg>
        </div>
        <script>
            const socket = new WebSocket('ws://localhost:4200')
            console.log(socket)
        </script>
    </section>
    <section class="section section-lg bg-gradient-default">
        <div class="container pt-lg pb-300" *ngIf="auth.userData as user">
            <div class="row text-center justify-content-center">
                <div class="col-lg-10">
                    <h2 class="text-success text-uppercase">Articulos</h2>
                    <div class="container position-relative">
                        <div class="container position-relative">
                            <header class="masthead">
                                <form #formularioMascota="ngForm" (ngSubmit)="sendSearch()">
                                    <input type="text" name="busqueda" class="form-control"
                                        [(ngModel)]="searchModel.busqueda" required>
                                    <br>
                                    <button id="enviar" class="btn btn-sm btn-info mr-4" type="submit"
                                        value="Submit">Consultar</button>
                                    <!-- <a type="submit" value="Submit" class="btn btn-sm btn-info mr-4">Consultar</a> -->

                                </form>
                            </header>
                        </div>

                    </div>

                </div>

            </div>
            <div class="container pt-lg 3500">

                <table class="table table-border table-hover">
                    <thead class="text-light">
                        <tr>
                            <th scope=" col">#</th>
                            <th scope="col">Titulo</th>
                            <!-- <th scope="col">Abstract</th> -->
                            <th scope="col">Fuente</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Link</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Articulo</th>

                        </tr>
                    </thead>


                </table>

                <table>
                    <tbody>
                        <tr
                            *ngFor="let emp  of rows; let video of rows_videos| paginate:{itemsPerPage: 10, currentPage: p };let item =index  ">
                            <th>{{item+1}}</th>
                            <td> {{ emp.title }}</td>
                            <!-- <td> {{ emp.abstract }} </td> -->
                            <td> {{ emp.fuente}} </td>
                            <td>{{emp.key}}</td>
                            <td>{{emp.link}}</td>
                            <td>{{emp.authors}}</td>
                            <td>
                                <a href="{{emp.link}}" class="btn btn-success" target="_blank">Revisar Articulo</a>
                            </td>
                            <td>

                                <a class="btn btn-success" [(ngModel)]="nNew_acti.Habilidad"
                                    [(ngModel)]="nNew_acti.indicadores" [(ngModel)]="new_objeto_aprendizaje.titulo"
                                    [(ngModel)]="new_objeto_aprendizaje.parrafoTexto"
                                    [(ngModel)]="new_objeto_aprendizaje.tituloActividad"
                                    [(ngModel)]="new_objeto_aprendizaje.parrafoActividad"
                                    [(ngModel)]="new_objeto_aprendizaje.links"
                                    (click)=" createActivity(emp.title); set_valores_ova(emp.title, emp.abstract,emp.title, emp.abstract,emp.fuente)"
                                    target="_blank">Generar
                                    Objeto</a>



                                <!-- <a class="btn btn-success" [(ngModel)]="nNew_acti.Habilidad"
                                                                    [(ngModel)]="nNew_acti.indicadores"
                                                                    (click)=" createActivity(emp.key) ;makeOva(emp.title, emp.abstract,emp.title, emp.abstract,emp.fuente, user.email)"
                                                                    target="_blank">Generar Objeto</a> -->

                            </td>
                        </tr>
                        <tr>


                        </tr>



                    </tbody>

                    <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    <!-- <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
                        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
                        [pageIndex]="pageIndex" aria-label="Seleccionar página">
                    </mat-paginator> -->
                </table>







            </div>

        </div>
    </section>
    <section class="section section-shaped pb-10 bg-gradient-warning">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="2560 0 2560 40" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="10 0 10 2560 2 2560"></polygon>
            </svg>
        </div>
    </section>

</main>



<!-- <header class="masthead">
        <div class="container position-relative">

            <header class="masthead">
                <form #formularioMascota="ngForm" (ngSubmit)="sendSearch()">
                    <input type="text" name="busqueda" class="form-control" [(ngModel)]="searchModel.busqueda" required>
                    <br><br>
                    <div class="col-lg-3 ml-lg-auto">
                        <a class="btn btn-lg btn-block btn-white">Download Angular</a>
                    </div>
                    <button id="enviar" class="btn btn-primary btn-lg btn-block" type="submit"
                        value="Submit">Consultar</button>
                </form>
            </header>
        
        </div>
    </header> -->