<main class="profile-page">

    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-6">
                    <div class="row justify-content-center" *ngIf="auth.userData as user; else showLogin">

                        <h1 class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">

                            <a style="color:rgb(30, 29, 27)"> Bienvenido


                                {{(user.displayName) ?
                                user.displayName : 'User'}}
                            </a>

                        </h1>

                        <div class="col-lg-2 order-lg-2">

                            <div class="card-profile-image">
                                <a href="javascript:void(0)">
                                    <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                                        src="{{(user.photoURL) ? user.photoURL : '/assets/img/theme/dummyprofile.jpeg'}}"
                                        alt="{{user.displayName}}">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">

                            <div class="card-profile-actions py-4 mt-lg-0">
                                <a routerLink="/nodesimilarity" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="/nodesimilarity" class="btn btn-sm btn-default float-right">Message</a>
                            </div>
                        </div>



                        <!-- <div>
                            <span class="heading">89</span>
                            <span class="description">Comments</span>
                        </div> -->
                    </div>
                    <div>
                        <template #showLogin><span routerLink="/login"></span></template>
                    </div>
                </div>

            </div>
        </div>

    </section>
</main>