<footer class="footer"
    [ngClass]="{'has-cards': getPath()!=='/landing' && getPath()!=='/register' && getPath()!=='/login'}">
    <div class="container container-lg"
        *ngIf="getPath()!=='/landing' && getPath()!=='/register' && getPath()!=='/login'">
        <!-- <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="card card-lift--hover shadow border-0">
                    <a [routerLink]="['/landing']" title="Landing Page">
                        <img src="./assets/img/theme/landing.jpg" class="card-img">
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0">
                <div class="card card-lift--hover shadow border-0">
                    <a [routerLink]="['/landing']" title="Profile Page">
                        <img src="./assets/img/theme/profile.jpg" class="card-img">
                    </a>
                </div>
            </div>
        </div> -->
    </div>

</footer>