<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>Registrarse con</small>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-neutral btn-icon mr-4">
                                    <span class="btn-inner--icon">
                                        <img src="./assets/img/icons/common/github.svg">
                                    </span>
                                    <span class="btn-inner--text">Github</span>
                                </a>
                                <a routerLink="#" (click)="login3()" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="./assets/img/icons/common/google.svg" ng-click="authService.()">
                                    </span>

                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>O</small>
                            </div>
                            <form role="form">
                                <div class="form-group" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Name" type="text" (focus)="focus=true"
                                            (blur)="focus=false" #name required>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" type="email" #email required
                                            (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Password" type="password" #password
                                            required (focus)="focus2=true" (blur)="focus2=false">
                                    </div>
                                </div>

                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister"
                                                type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister">
                                                <span>Estoy de acuerdo con
                                                    <a href="javascript:void(0)">Politicas de privacidad</a>
                                                </span>
                                            </label>
                                        </div>
                                        <br>
                                        <div class="text-muted font-italic">
                                            <label class="kkk">
                                                <small>Tienes una cuenta?
                                                    <span class="text-success font-weight-700"
                                                        routerLink="/login">Iniciar
                                                        Sesion</span>
                                                </small>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button (click)="SignUp(name.value, email.value, password.value)"
                                        class="btn btn-primary mt-4">
                                        <b style="align-items: center;">Crear
                                            Cuenta</b>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>