<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>Recuperar Contrasenia</small>
                                <br>
                                <br>
                                <a>
                                    <span class="btn-inner--text">Ingrese su correo electronico</span>
                                </a>

                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">

                            <form role="form">
                                <div class="form-group" [ngClass]="{'focused':focus===true}">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="email" type="text" (focus)="focus=true"
                                            (blur)="focus=false" #email required>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button (click)="auth.ForgotPassword(email.value)" class="btn btn-primary mt-4">
                                        <b style="align-items: center;">Restablecer Contrasenia</b>
                                    </button>

                                    <div class="row my-4">
                                        <div class="col-16">
                                            <br>
                                            <div class="text-muted font-italic">
                                                <label class="kkk">
                                                    <small>Volver a
                                                        <span class="text-success font-weight-700"
                                                            routerLink="/login">Iniciar
                                                            Sesion</span>
                                                    </small>
                                                </label>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>