<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Gracias por registrarte</h3>
            <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center">Enviamos un correo de autenticacion a: <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Por favor, compruebe su correo electrónico y haga clic en el enlace para
                    verificar su dirección de correo electrónico.</p>
            </div>

            <!-- Calling SendVerificationMail() method using authService Api -->
            <div class="formGroup">
                <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                    <i class="fas fa-redo-alt"></i>
                    Reenviar confirmacion
                </button>
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Volver a?<span class="redirect" routerLink="/login">Iniciar Sesion</span></span>
        </div>
    </div>
</div>